/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

/* next/previous buttons */
$lightpurple-color-font : #917CFF !default;
$lightpurple-btn-color-border : #FCFCFE !default;
.pagination--pager {
   color: $lightpurple-color-font;
   background-color: $lightpurple-btn-color-border;
   border-color: transparent;
 
   &:visited {
     color: $lightpurple-color-font;
   }
 }

.pagination--pager:hover {
   background-color : $lightpurple-color-font;
   color : $lightpurple-btn-color-border;
}